
node_modules
.next
.git
.gitignore
*.log
.DS_Store
.vscode
.idea
dist
build
coverage
.turbopack
README.md
.editorconfig
tailwind.config.ts

# NO ignorar .env.example (se necesita para Docker)
# NO ignorar .env.local si existe
